
// colors
$primary-color: #1F5ABE;
$secondary-color: #8EC53F;
$light-color: #fff;
$danger-color: red;
$dark-color: #000;


// fonts - weights
$regular: 400;
$bold: 700;

// fonts - families
$logo: 'Charm', cursive;
